@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
:root {
  --base-font-size: 16px;
  --color-primary: 0 0% 0%;
  --color-secondary: 0 0% 50%;
  --spotify-green: 141 73% 42%;
  --input: transparent;
  --input-background: 240 9% 96%;
  --background: 0 0% 100%;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --accent: 141 73% 42%;
  --muted: 240, 12%, 93%;
  --muted-foreground: 141 73% 42%;
  --border: rgba(0, 0, 0, 0.1);
}

.dark {
  --base-font-size: 16px;
  --color-primary: 0 0% 98%;
  --color-secondary: 0 0% 87%;
  --spotify-green: 141 73% 42%;
  --input: transparent;
  --input-background: transparent;
  --background: 0 0% 7%;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --accent: 141 73% 42%;
  --muted: 240, 12%, 93%;
  --border: rgba(255, 255, 255, 0.9);
}
  
 body {
    @apply 
    bg-background 
    text-foreground;
 }

 html {
    font-size: var(--font-size);
  }
  

 h1 {
    font-size: 4rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h2 {
    font-size: 3rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h3 {
    font-size: 2rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h4 {
    font-size: 1.4rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }


  label {
    font-size: var(--base-font-size);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  button {
    font-size: var(--base-font-size);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  input {
    font-size: var(--base-font-size);
    font-weight: var(--font-weight-normal);
    line-height: 1.5;
  }

}

    /* animations */
@layer utilities {

  .animate-slide-bounce {
    animation: slide-bounce 0.7s cubic-bezier(0.175,0.885,0.32,1.275);
  }

    @keyframes slide-bounce {
    0% { 
      opacity: 0; 
      transform: translateY(50px) scale(0.8); }
    60% { 
      transform: translateY(-5px); }
    100% { 
      opacity: 1; 
      transform: translateY(0) scale(1); 
    }

  }


}
