@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-size: 16px;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%; 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --muted: 210 40% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96%;
    --accent-foreground: 222.2 84% 4.9%;
  }
  
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 8%;
    --card-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
  }
  
    html {
    font-size: var(--font-size);
  }

  h1 {
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.5;
  }

    h2 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.5;
  }

}
