@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --base-font-size: 16px;
    --color-primary: hsl(0,0,0);
    --color-secondary: hsl(0,0%,50%);
    --spotify-green: hsl(141deg, 73%, 42%);
    --input: transparent;
    --input-background: hsl(240, 9%, 96%);
    --background: hsl(0, 0%, 100%);
    --font-weight-medium: 500;
    --font-weight-normal: 400;
  }
  
  .dark {
    --base-font-size: 16px;
    --color-primary: hsl(0, 0%, 98%);
    --color-secondary: hsl(0, 0%, 87%);
    --spotify-green: hsl(141deg, 73%, 42%);
    --input: transparent;
    --input-background: transparent;
    --background: hsl(0, 0%, 7%);
    --font-weight-medium: 500;
    --font-weight-normal: 400;

  }
  
 body {
    @apply 
    bg-background 
    text-foreground;
 }

 html {
    font-size: var(--font-size);
  }
  

 h1 {
    font-size: 4rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h2 {
    font-size: 3rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h3 {
    font-size: 2rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }


  label {
    font-size: var(--base-font-size);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  button {
    font-size: var(--base-font-size);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  input {
    font-size: var(--base-font-size);
    font-weight: var(--font-weight-normal);
    line-height: 1.5;
  }

}
